
li {

padding: 15px 20px;
background-color: white;
cursor: pointer;
border-radius: 25px;

}
li:hover {
  outline: 2px solid rgba(0,77,137,255);
}
.card {
  background-image: url("Assets/14731376_rm222batch5-mind-03.jpg");
  background-size: cover; 
}
